// basic required styling
.container {
    perspective: 1000px;
    position: relative;
    // you don't need width and height if your card already has a lot of content
    width: 100%;
    max-width: 400px;
    height: 250px;
    a {
        opacity: 0;
        position: absolute;
        z-index: 1;
        width: 50%;
        height: 50%;
        // added in individual hover effects
        &:hover,
        &:focus {
            transform: translateZ(50px);
            ~ .card {
                color: white;
                .border {
                    transform: translateZ(24px);
                }
            }
        }
        // pushes the border backwards when you click
        &:active {
            ~ .card {
                .border {
                    transform: none;
                }
            }
        }
        // top left
        &:nth-child(1) {
            top: 0;
            left: 0;
            &:hover,
            &:focus {
                ~ .card {
                    transform-origin: right bottom;
                    transform: rotateX(5deg) rotateY(-5deg) translateZ(0);
                }
            }
        }
        // top right
        &:nth-child(2) {
            top: 0;
            right: 0;
            &:hover,
            &:focus {
                ~ .card {
                    transform-origin: left bottom;
                    transform: rotateX(5deg) rotateY(5deg) translateZ(0);
                }
            }
        }
        // bottom right
        &:nth-child(3) {
            bottom: 0;
            right: 0;
            &:hover,
            &:focus {
                ~ .card {
                    transform-origin: left top;
                    transform: rotateX(-5deg) rotateY(5deg) translateZ(0);
                }
            }
        }
        // bottom left
        &:nth-child(4) {
            bottom: 0;
            left: 0;
            &:hover,
            &:focus {
                ~ .card {
                    transform-origin: right top;
                    transform: rotateX(-5deg) rotateY(-5deg) translateZ(0);
                }
            }
        }
    }
    .card {
        transition: all 300ms ease-out;
        position: relative;
        z-index: 0;
        // you don't need width and height if your card already has a lot of content
        width: 100%;
        height: 100%;
        // styling for the border
        .border {
            transition: all 300ms ease-out;
            transform-origin: center center;
            position: absolute;
            top: 12px;
            left: 12px;
            width: calc(100% - 24px);
            height: calc(100% - 24px);
            border: 2px solid white;
        }
    }
}

// some basic styling for demo purposes
$p: 12px;
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-style: preserve-3d;
}

*:focus {
    outline: none !important;
}

body,
html {
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    padding: 50px 0 0 0;
    .card {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background: lightseagreen;
        color: white;
        h1 {
            font-size: 24px;
        }
    }
}

.running {
    background: lightpink;
    height: 200px;
    padding: 50px;
    .dot {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: lightskyblue;
    }
    &:hover {
        .dot {
            transform: translateX(100px);
            transition: transform 5s cubic-bezier(.38,-0.81,1,-0.52);
        }
    }
}
